# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Local datasets
AIDS_Classification.csv

# Python packaging
*.egg-info/
dist/
build/
